<!doctype HTML>
<html>
  <head>
    <meta charset="utf-8">
    <title>Prowl</title>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= csrf_meta_tags %>
    <%= javascript_include_tag 'application' %>
  </head>
<body>

  <div id="main_container">

    <% if flash[:error] %>
      <div class="errors"><%= flash[:error] %></div>
    <% end %>

    <div id="page_header">

      <h2>Welcome to Prowl</h2>
      <h2>Already have an account? <strong>Sign In</strong></h2><br>

      <div class="sign_in_user">
        <%= form_tag(login_path, method: "post") do %>
          <%= label_tag :email %>
          <%= text_field_tag :email %><br>
          <%= label_tag :password %>
          <%= password_field_tag :password %><br>
          <%= submit_tag "Sign In" %>
        <% end %>
      </div><br><!-- // sign_in_user -->

      <div id='sign_in_facebook'>
        <fb:login-button scope="public_profile,email" onlogin="checkLoginState();">
        </fb:login-button>

        <div id="status">
        </div>
      </div><!-- //sign_in_facebook -->

    </div><!-- // header -->

    <div id='sign_up_view'>

      <h2>New to Prowl? Sign Up!</h2>

      <div class="sign_up_user">
        <%= form_for(@new_user, url: users_path, method: "post") do |f| %>
          <%= f.label :username %>
          <%= f.text_field :username, placeholder: "Username" %> <br>
          <%= f.label :email %>
          <%= f.text_field :email, placeholder: "Email Address" %> <br>
          <%= f.label :password %>
          <%= f.password_field :password, placeholder: "Password" %> <br>
          <%= f.label :password_confirmation, "Confirm Password" %>
          <%= f.password_field :password_confirmation, placeholder: "Password" %> <br>
          <%= f.submit "Sign Up" %>
        <% end %>
      </div><!-- // sign_up_user -->

      <%= link_to "Sign In with Facebook", "/auth/facebook", id: "sign_up_facebook" %>

    </div><!-- // main_splash_view -->

  </div><!-- // main_container -->

</body>
</html>
