<!doctype HTML>
<html>
  <head>
    <meta charset="utf-8">
    <title>Prowl</title>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= csrf_meta_tags %>
    <%= javascript_include_tag 'application' %>
  </head>
<body>

  <% if flash[:error] %>
    <div id="error"><%= flash[:error] %></div>
  <% end %>

  <div id="top_color_bar">
  </div><!-- // top_color_bar -->

  <div id="main_container">

      <div id="header">
        <p id="header_logo">PROWL</p>
          <h2>Already have an account? <strong>Sign In</strong></h2><br>


        <div id="top_header">
          <p id="sign_out"><%= link_to 'Sign Out', logout_path, id: 'signout' %></p>
  <!--           <p id="sign_in"> You can sign in here </p> -->

          <div class="user_sign_in">
            <%= form_tag(login_path, method: "post") do %>
              <%= label_tag :email %>
              <%= text_field_tag :email %>
              <%= label_tag :password %>
              <%= password_field_tag :password %>
              <%= submit_tag "Sign In" %>
            <% end %>
          </div>

        </div> <!-- // top_header -->
      </div> <!-- // header -->


    <div id="main_splash_view">

      <h4>The best place to mix and mingle with ladies locally ... and around the world.</h4>
      <div class="user_sign_up">
        <%= form_for(@new_user, url: users_path, method: "post") do |f| %>
          <%= f.label :username %>
          <%= f.text_field :username, placeholder: "Username" %> <br>
          <%= f.label :email %>
          <%= f.text_field :email, placeholder: "Email Address" %> <br>
          <%= f.label :password %>
          <%= f.password_field :password, placeholder: "Password" %> <br>
          <%= f.label :password_confirmation, "Confirm Password" %>
          <%= f.password_field :password_confirmation, placeholder: "Password" %> <br>
          <%= f.submit "Sign Up" %>
        <% end %>
      </div>

      <%= link_to "Sign In with Facebook", "/auth/facebook", id: "sign_up_facebook" %>

    </div><!-- // main_splash_view -->

  </div><!-- // main_container -->
</body>
</html>

