<!doctype HTML>
<html>
  <head>
    <meta charset="utf-8">
    <title>Prowl</title>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= csrf_meta_tags %>
    <%= javascript_include_tag 'application' %>
  </head>
<body>

  <% if flash[:error] %>
    <div id="error"><%= flash[:error] %></div>
  <% end %>

  <div id="top_color_bar">
  </div><!-- // top_color_bar -->

  <div id="main_container">

      <div id="header">
        <p id="header_logo"><img class="header_logo" src="assets/Prowl_LOGO.png" alt="Prowl Logo" width="18%" height="18%"></p>
          <p class="already_member">already a member?</p><br>


        <div id="top_header">
          <p id="sign_out"><%= link_to 'Sign Out', logout_path, id: 'signout' %></p>
  <!--           <p id="sign_in"> You can sign in here </p> -->

          <div class="user_sign_in">
            <%= form_tag(login_path, method: "post") do %>
              <%= label_tag "Email", nil, class: "label_sign_in_email" %>
              <%= text_field_tag :email, nil, class: 'sign_in_email' %><br>
              <%= label_tag "Password", nil, class: 'label_sign_in_password' %>
              <%= password_field_tag 'password', nil, class: 'sign_in_password' %><br>
              <%= submit_tag "log in", class: "sign_in_button" %>
            <% end %>
          </div>

        </div> <!-- // top_header -->
        <div id="sub_header">
          <ul class="interests_nav_splash">
            <li class="activities">activity partners</li>
            <li class="fam_kids">family & kids</li>
            <li class="friends">friends</li>
            <li class="community">community building</li>
            <li class="flings">flings</li>
          </ul> <!-- // interests_nav -->
        </div> <!-- // sub_header -->
      </div> <!-- // header -->


    <div id="main_splash_view">

      <h4>The best place for ladies to meet, mix, and mingle locally<br> ... and around the world.</h4><br>
      <h3>Join here</h3>
      <div class="user_sign_up">
        <%= form_for(@new_user, url: users_path, method: "post") do |f| %>
          <%= f.label :username, class: 'label_sign_up_username'  %>
          <%= f.text_field :username, class: 'sign_up_username'  %> <br>
          <%= f.label :email, class: "label_sign_up_email" %>
          <%= f.text_field :email, class: "sign_up_email" %> <br>
          <%= f.label :password, class: 'label_sign_up_password' %>
          <%= f.password_field :password, class: 'sign_up_password' %> <br>
          <%= f.label :password_confirmation, "Confirm Password", class: 'label_sign_up_password'  %>
          <%= f.password_field :password_confirmation, class: 'sign_up_password'  %> <br>
          <%= f.submit "sign up", class: "sign_up_button" %>
        <% end %>
      </div>

      <%= link_to "Sign In with Facebook", "/auth/facebook", class: "sign_in_facebook" %>
      <%= link_to "Sign Up with Facebook", "/auth/facebook", class: "sign_up_facebook" %>

      <div id="cat_logo_splash">
        <p><img class="splash_logo" src="assets/Kitty_LOGO.png" alt="Happy Cat"></p>
      </div> <!-- // cat_logo_splash -->

    </div><!-- // main_splash_view -->

  </div><!-- // main_container -->
</body>
</html>

