<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Prowl</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= csrf_meta_tags %>
  <%= javascript_include_tag 'application' %>
</head>
<body>

  <%= yield %>

  <div id="top_color_bar">
  </div><!-- // top_color_bar -->

  <div id="main_container">
    <div id="left_container">

      <ul class="left_navigation">
        <li class="my_profile"><a href="#viewMyProfile"><img src="assets/My_Profile.png" alt="My Messages" ></a></li>
        <li class="my_matches"><a href="#viewMyMatches"><img src="assets/My_Matches.png" alt="My Messages" class="my_matches_adjustment" ></a></li>
        <li class="my_messages"><a href="#viewMyMessages"><img src="assets/My_Messages.png" alt="My Messages" ></a></li>
        <li class="browse_profiles_near_me"><a href="#localProfiles"><img src="assets/Local_Users.png" alt="My Messages" ></a><img src="assets/Online.png" class="tiny_online"></li>
        <li class="family_and_kids_forum"><a href="#familyKidsForum"><img src="assets/Family_Forum.png" alt="My Messages" ></a></li>
        <li class="community_bulletin"><a href="#communityBulletin"><img src="assets/Community_Bulletin_Board.png" alt="My Messages" ></a></li>
      </ul> <!-- // left_navigation -->
    </div> <!-- // left_container -->

    <div id="place_holder_leftside">
<!--       <p> I hold the left side free and clear during scrolling.</p> -->
    </div> <!-- // place_holder_leftside -->

    <div id="header">
        <p id="header_logo"><img class="header_logo" src="assets/Prowl_LOGO.png" alt="Prowl Logo" width="18%" height="18%"></p>

      <div id="top_header">
        <%= link_to 'Sign Out', logout_path, id: 'signout' %>
        <p id="sign_in"><a href="#account">Settings</a></p>
      </div> <!-- // top_header -->

        <div id="sub_header_main">
          <ul class="interests_nav_main">
            <li class="activities_main">activity partners</li>
            <li class="fam_kids_main">family & kids</li>
            <li class="dating_main">dating</li>
            <li class="friends_main">friends</li>
            <li class="community_main">community building</li>
            <li class="flings_main">flings</li>
          </ul> <!-- // interests_nav -->
        </div> <!-- // sub_header -->

    </div> <!-- // header -->

    <div id="main_view">
      <div id="main_profile">

      </div>

      <div id="main_inbox">
      </div>

      <div id="main_conversation">
      </div>

    </div> <!-- // main_view -->

  </div> <!-- // main_container -->

  <div id="right_container">
<!--     <p> I'm a great place for introducing new users or opening some chats </p> -->
  </div> <!-- // right_container -->












</body>
</html>
