<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Prowl</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= csrf_meta_tags %>
  <%= javascript_include_tag 'application' %>
</head>
<body>

  <%= link_to 'Sign Out', logout_path %>
  <%= yield %>

  <div id="main_container">
    <div id="left_container">
      <p> I'm a great place for navigation </p>

      <ul class="left_navigation">
        <li class="view_profile">View My Profile</li>
        <li class="browse_users">Browse People Around Me</li>
        <li class="message">View My Messages</li>
        <li class="view_matches">View My Matches</li>
      </ul> <!-- // left_navigation -->
    </div> <!-- // left_container -->


    <div id="place_holder_leftside">
      <p> I hold the left side free and clear during scrolling.</p>
    </div> <!-- // place_holder_leftside -->


    <div id="header">
      <p id="header_logo">PROWL</p>

      <div id="top_header">
        <p id="sign_out"> You can sign out here </p>
        <p id="sign_in"> You can sign in here </p>
      </div> <!-- // top_header -->

      <div id="sub_header">
        <p> I'm a good place for a navigation bar, log-in and log-out etc.</p>
      </div> <!-- // sub_header -->

    </div> <!-- // header -->


      <div id="main_splash_view">

      </div> <!-- // main_splash_view -->

      <div id="main_view">

      </div> <!-- // main_view -->
  </div> <!-- // main_container -->

  <div id="right_container">
    <p> I'm a great place for introducing new users or opening some chats </p>
  </div> <!-- // right_container -->

</body>
</html>
